<h3>Are you sure you would like to delete Team <%=@team.team_name%> - Number <%=@team.number%>?</h3>
<form class="" action="/teams/<%=@team.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Team">
</form>
<br></br>
