<h1>Welcome to Robo Teams!</h1>
<h2>Your place to keep track of all of your favorite robotics teams.</h2>
<h3><a href="/users/login">Sign in</a> or <a href="/users/new">Sign Up</a> to create your list of teams.</h3>
